extends layout

block content
    form(method="post", action="/auth/login")
        label(for="login-email") Email
        input(type="text", id="login-email", name="email")
        label(for="login-pwd") Password
        input(type="password", id="login-pwd", name="password")
        input(type="submit", value="Login via email")
    a(href="/auth/facebook") Login via facebook
    
    h3 New User?
    form(method="post", action="/auth/regist")
        label(for="regist-name") First Name
        input(type="text", id="regist-name", name="firstName")
        label(for="regist-lastname") Last Name
        input(type="text", id="regist-lastname", name="lastName")
        label(for="regist-email") Email
        input(type="text", id="regist-email", name="email")
        label(for="regist-pwd") Password
        input(type="password", id="regist-pwd", name="password")
        input(type="submit", value="Regist")
        
